html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#navButtons {
    height: 60px;
}

@media (max-width: 767px) {
    #navButtons {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.donation {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
    background: url(/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.navbar {
    margin-bottom: 10px;
}

.navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -ms-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}

#spinner {
    height: 300px;
}

.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}

.donation {
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 0.85;
}

.donation:before, .donation:after {
    content: "";
    display: table;
}

.donation:after {
    clear: both
}

.donation.invisible {
    opacity: 0
}

.donation .donation-content {
    float: left
}

.donation .donation-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 24px;
    display: inline-block;
    color: #0088CC;
}

.donation .donation-content h3 span.year {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    color: #aaaaaa;
    margin-left: 5px;
}

.donation .right-align {
    display: block;
    float: right;
}

.badge {
    line-height: 28px;
    font-size: 24px;
}

.jumbotron {
    margin: 40px 0 30px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

.jumbotron .badge {
    font-size: 80px;
    line-height: 1;
    padding: 20px 20px;
}

.btn-toolbar {
    text-align: center;
}

