<template name="donationList">
    <div id="main" class="row-fluid">
        <div class="span12" style="margin: 15px 0 0 0;">
            <a href="{{donationSubmitPath}}" class="btn btn btn-success">New Brick</a>
        </div>

        <div class="span12" style="margin: 15px 0 0 0; background: #eee; color: #666666;">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Donator</th>
                        <th>Year</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each donations}}
                        {{> donation}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="donation">
    <tr>
        <td class="dIndex">{{index}}</td>
        <td>{{donator}}</td>
        <td>{{year}}</td>
        <td>{{name}}</td>
        <td>{{amount}}</td>
        <td><a href="{{donationEditPath this}}" class="btn btn-mini btn-info">Edit</a></td>
    </tr>
</template>